.login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    
}

.login-logo img {
    width: 300px;
    height: 300px;
}

.login-right h1{
    margin-left: 39px;
    margin-bottom: 10px;
    font-family: 'Roboto Slab';
    font-size: 50px;
}

.login-right h4{
    font-family: 'Roboto Slab';
    font-weight: 300;
    margin-top: 40px;
    font-size: 15px;
    font-weight: 500;
    color: #e1e1e6;
}

.loginEmail {
    display: flex;
    align-items: center;
    color: black;
    background-color: rgb(229, 226, 226);
    border-radius: 3px;
    padding: 3px;
    width: 98%;
    height: 50px;
    border-radius: 5px;
    margin-left: 20px;
}

.loginEmail svg {
    margin-left: 20px;
    font-size: larger;
    background-color:rgb(229, 226, 226);
    margin-right: 10px;
}

.loginEmail input {
    /* background: transparent; */
    width: 100%;
    outline-width: 0;
    color:#e1e1e6;
    border:none;
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
}


.loginPassword {
    display: flex;
    align-items: center;
    color:black;
    background-color: rgb(229, 226, 226);
    border-radius: 3px;
    padding: 3px;
    width: 98%;
    height: 50px;
    border-radius: 5px;
    margin-left: 20px;
}

.loginPassword svg {
    margin-left: 20px;
    font-size: larger;
    background-color:rgb(229, 226, 226);
    margin-right: 10px;
}

.loginPassword input {
    /* background: transparent; */
    width: 100%;
    outline-width: 0;
    color:#e1e1e6;
    border:none;
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.login-right button {
    width: 98%;
    background-color:eff2f5 ;
    color: rgb(21, 59, 163);
    font-weight: 800;
    height: 50px;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 5px;
    margin-left: 23px;
}

.login-right button:hover {
    background-color: rgb(21, 59, 163);
    color: #eff2f5;
    cursor: pointer;
}